@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Poppins:wght@300;400;600;700&display=swap');




* {
  padding: 0%;


}

body {

  background-image: linear-gradient(215deg, #505152 0%, #D7DBDD 101.77%);
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* */

.header img {
  height: 10vh;
  filter: invert(100%);

}




.logo-text {
  font-family: 'Jim Nightshade', sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}



nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 3.125rem;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  color: white;
  align-items: center;
}




nav li:first-child {
  margin-right: auto;
}

nav h1 {
  display: flex;
  justify-content: flex-start;
  margin: auto;

}



.sidebar {
  position: fixed;
  top: 0;
  margin-top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(121, 118, 118);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

/* Main Center Text */

.center_text {
  z-index: 100;
  text-align: center;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -40%);
}

.center_text_reg {
  z-index: 100;
  text-align: center;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -65%);
}



.buttons {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.buttons a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}



.center_text_dash {
  z-index: 100;
  text-align: center;
  font-size: 3.5rem;
  color: rgb(255, 252, 252);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center_text_subheading {
  z-index: 100;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, 10%);
}

.form-container {
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);

}

input {
  width: 100%;
  padding: 10px 12px;
  border: 3px solid #454746;
  border-radius: 6px;
  margin: 2px;
}

input[type=button],
input[type=submit],
input[type=reset] {
  width: 114%;
  background-color: #454746;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.error {
  justify-content: center;
  color: rgb(51, 19, 19);
  position: absolute;
}


@media screen and (max-width: 450px) {
  .logo-text {
    font-size: 1.5rem;
  }

  .center_text_dash {
    font-size: 1.5rem;
  }

  .center_text_subheading {
    font-size: 1rem;

  }

  .center_text {
    z-index: 100;
    text-align: center;
    font-size: 3.5rem;
    position: absolute;
    left: 53%;
    top: 40%;
    transform: translate(-50%, -40%);
  }

  .center_text_reg {
    z-index: 100;
    text-align: center;
    font-size: 3.5rem;
    position: absolute;
    left: 53%;
    top: 40%;
    transform: translate(-50%, -40%);
  }

  .form-container-reg {
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 750px) {

  .center_text {
    font-size: 2.5rem;
    top: 42%;
    left: 52%;
  }

  .center_text_reg {
    top: 47%;
    left: 52%;

  }

  .form-container-reg {
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }
}