:root {
  --background-color: #F6FBFD;
  --text-colour: #050F13;
  --primary-color: #38ACCB;
  --secondary-color: #9793E3;
  --accent-color: #8C71DA;
  --color-effect: linear-gradient(120deg, var(--primary), var(--accent));

}