<section class="header">
  <nav>
    <ul class="sidebar">
      <li><a href="/"><img src="/static/css/images/MotarboardIcon.png" alt="MotarboardIcon">
          <h1 class="logo-text">GibJohn Tutoring</h1>
        </a></li>
      <li><a href="/">HOME</a></li>
      <li><a href="/findOutMore">FIND OUT MORE</a></li>
      <li><a href="">FAQs</a></li>
      <li><a href="https://mkcollege.ac.uk/contact-us/">CONTACT-US</a></li>
    </ul>
    </div>
  </nav>
</section>

<section class="header">

  <nav>
    <ul>
      <li><a href="/"><img src="/static/css/images/MotarboardIcon.png" alt="MotarboardIcon"></a>
      </li>
      <h1 class="logo-text">GibJohn Tutoring</h1>
      <li><a href="/">HOME</a></li>
      <li><a href="/findOutMore">FIND OUT MORE</a></li>
      <li><a href="">FAQs</a></li>
      <li><a href="https://mkcollege.ac.uk/contact-us/">CONTACT-US</a></li>
    </ul>
    </div>
  </nav>
</section>