<section class="header">
  <div class="logo">
    <a href="/"><i class="fa-solid fa-graduation-cap"></i>>GibJohn Tutoring</a>
  </div>
  <div class="main-buttons">
    <div class="hamburger">
      <i class="fa-solid fa-bars"></i>
    </div>
    <nav class="nav-bar">
      <ul>
        <li><a href="/" class="active">HOME</a></li>
        <li><a href="/login">LOGIN OR REGISTER</a></li>
        <li><a href="">PRICING</a></li>
        <li><a href="">FAQs</a></li>
        <li><a href="https://mkcollege.ac.uk/contact-us/">CONTACT-US</a></li>
      </ul>
  </div>
  </nav>
  </div>
</section>


<script>
  hamburger = document.querySelector(".hamburger");
  hamburger.onclick = function () {
    navBar = document.querySelector(".nav-bar");
    navBar.classList.toggle("active");
  }
</script>