<section class="header">
    <nav>
      <div class="Logo">
        <a href="/"><img src="/static/css/images/MotarboardIcon.png" alt="Mk-COllege"></a>
        <h1 class="logo-text">GibJohn Tutoring</h1>
      </div>
      <div class="nav-links">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
          <li><a href="/findOutMore">Find Out More</a></li>
          <li><a href="">FAQs</a></li>
          <li><a href="https://mkcollege.ac.uk/contact-us/">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </section>