{% extends 'base.html' %}
{% block title_extension %} - Home{% endblock %}
{% block preface_body %}
{% include 'header.html' %}
{% endblock %}
{% block content %}

<div class=center_text_dash>GibJohn Tutoring</div>
<div class="center_text_subheading">A Place For All Your Educational Needs!</div>




<script>

  var navLinks = document.getElementById('navLinks');

  function showMenu() {
    navLinks.style.right = "0";
  }

  function hideMenu() {
    navLinks.style.right = '-200px';
  }
</script>
{% endblock %}