{% extends 'base.html' %}
{% block title_extension %} - Home{% endblock %}
{% block content %}
  {% include 'header.html'   %}

  <div class=center_text_dash>GibJohn Tutoring</div>
  <div class="center_text_subheading">A Place For All Your Educational Needs!</div>
  <div class="buttons">
    <a href="{{url_for('login')}}">Login</a>

    <a href="{{url_for('register')}}">Register</a>
  </div>



  <script>

    var navLinks = document.getElementById('navLinks');

    function showMenu() {
      navLinks.style.right = "0";
    }

    function hideMenu() {
      navLinks.style.right = '-200px';
    }
  </script>
{% endblock %}