<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/indexstyle.css')}}">
  <title>GibJohn Tutoring - Login </title>
</head>

<body>

  <section class="header">
    <nav>
      <div class="Logo">
        <a href="/"><img src="/static/css/images/MotarboardIcon.png"></a>
        <div id ="logo-text"><a href="/">GibJohn Tutoring</a></div>
      </div>
      <div class="nav-links">
        <i class="fa fa-times" onclick="hideMenu()"></i>

        <ul>
          <li><a href="">FAQs</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </section>


  <div class="center_text"><a href="/login">Login</a></div>

  <div class="form-container">
    <form action="" method="post">
      <div>{{ form.hidden_tag() }}</div>

      <div class = "username-field">{{ form.username }}</div>

      <div class = "password-field">{{ form.password }}</div>

      <div class="password-field">{{ form.confirm }}</div>
      <div class="submit-button">{{ form.submit }}</div>
    </form>
  </div>
  <div class="error">
    {% if form.errors %}
    {% for field, errors in form.errors.items() %}
    {% for error in errors %}
    {{ error }}
    {% endfor %}
    {% endfor %}
    {% endif %}
  </div>

  <div class="buttons">
    <a href="{{url_for('login')}}">Login</a>

    <a href="{{url_for('register')}}">Register</a>
  </div>

</body>

</html>