<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/indexstyle.css')}}">
  <title>Register - GibJohn Tutoring</title>
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="/static/css/images/MotarboardIcon.png" ></a>
      <h1 class="logo-text">GibJohn Tutoring</h1>
      <div class="nav-links">
        <i class="fa fa-times" onclick="hideMenu()"></i>

        <ul>
          <li><a href="">FAQs</a></li>
          <li><a href="https://mkcollege.ac.uk/contact-us/">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </section>


  <div class="center_text_reg"><a href="/">Register</a></div>
  <div class="buttons">
    <a href="{{url_for('login')}}">Login</a>

    <a href="{{url_for('register')}}">Register</a>
  </div>

  <div class="form-container">
    <form action="" method="post">

      <div>{{ form.hidden_tag() }}</div>

      <div class = "username_field">{{ form.username }}</div>

      <div class = "password_field">{{ form.password }}</div>

      <div class="password_field">{{ form.confirm }}</div>
      <div class="submit_button">{{ form.submit }}</div>

    </form>
  </div>

  <div class="error">

    {% if form.errors %}

    {% for field, errors in form.errors.items() %}

    {% for error in errors %}

    {{ error }}

    {% endfor %}

    {% endfor %}

    {% endif %}

  </div>
</body>

</html>