<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/indexstyle.css')}}">
  <title>Document</title>
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="/static/css/images/whiteMk.png" alt="Mk-"></a>
      <div class="nav-links">
        <i class="fa fa-times" onclick="hideMenu()"></i>

        <ul>
          <li><a href="">FAQs</a></li>
          <li><a href="https://mkcollege.ac.uk/contact-us/">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </section>


  <div class="center_text"><a href="/">Register</a></div>
  <div class="buttons">
    <a href="{{url_for('login')}}">Login</a>

    <a href="{{url_for('register')}}">Register</a>
  </div>

  <div class="form-container">
    <div class="error">

      {% if form.errors %}

      {% for field, errors in form.errors.items() %}

      {% for error in errors %}

      {{ error }}

      {% endfor %}

      {% endfor %}

      {% endif %}

    </div>



    <form action="" method="post">

      {{ form.hidden_tag() }}

      {{ form.username }}

      {{ form.password }}

      {{ form.confirm }}

      {{ form.submit }}

    </form>
  </div>
</body>

</html>